#map 
{
    width: 75%;
    height: 100%;
    float: left;
}

#list
{
    width: 25%;
    height: 100%;
    float: right;
    background: red;
}

.listElem1
{
    background: darkgray;
}

.listElem2
{
    background: gray;
}

#output
{
    display: flex;
}