#map 
{
    width: 75%;
    height: 100%;
    float: left;
}

#list
{
    width: 25%;
    height: 100%;
    float: right;
    background: red;
    list-style-type: none;
}

#elementList
{
    list-style-type: none;
}

.tourItem
{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.listElem1
{
    background: darkgray;
}

.listElem2
{
    background: gray;
}

#heightProfile
{
    position: absolute;
    top: 80%;
    left: 2%;
    width: 20%;
    height: 15%;
    background: black;
    opacity: 0.75;
}

#output
{
    display: flex;
}